/* https://wddbyui.github.io/wdd131/prove/prove_wk3.html */
/* https://wddbyui.github.io/wdd131/prove/prove_wk4.html */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
    background: #37f;
    color:#fff;
    text-align: center;
    min-height: 80px;
}

nav {
    padding: 10px;
}

#desktop-menu {
    display:none;
}

main {
    background: #ccc;
    text-align: center;
}

#image-gallery {
    display: grid;
    grid-gap: 25px;
}

img {
    width: 75vw;
    height: 75vw;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border: solid #eee 5px;
    box-shadow: 5px 5px 5px #333;
    margin: 0 auto;
}

footer p {
    padding: 15px;
}

/* Image viewer box */
dialog {
    background: #0006;
    width: 100%;
    height: 100%;
}
.modal-img {
    width: 85vw;
    height: unset;
    max-width: unset;
    max-height: unset;
    display: block;
}
dialog button {
    position: absolute;
    top: 5vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

.hidden {display:none;}
#menu {
    background: none;
    color: white;
    font-size: 6vw;
    border:none;
    padding: 10px 30px;
}
#mobile-menu a {
    padding: 5px 36vw;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    #image-gallery {grid-template-columns: 1fr 1fr;}
    img {
        width: 35vw;
        height: 35vw;
    }
    #menu {font-size: 4vw;}
}
@media screen and (min-width: 700px) {
    #image-gallery {grid-template-columns: 1fr 1fr 1fr;}
    img {
        width: 27vw;
        height: 27vw;
        max-width: 250px;
        max-height: 250px;
    }
    #desktop-menu {
        width:400px;
        margin: 0 auto;
        display:flex;
        justify-content: space-around;
        text-align:center;
    }
    #desktop-menu a {color:white;}
    #menu {display:none;}
}