/* https://wddbyui.github.io/wdd131/ponder/ponder_wk4.html */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    /* border: solid black 1px; */
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-divider {
    border: solid #333 1px;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}

@media screen and (min-width: 1400px) and (max-width: 1700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main section {display:unset;
    }
    nav {
        display:flex;
        justify-content: right;
        font-size: 1.2em;
    }
    nav a {
        display:unset;
        text-decoration:none;
    }
    .menu-btn {display:none;}
}

@media screen and (min-width: 1700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main section {display:unset;
    }
    nav {
        display:flex;
        justify-content: right;
        font-size: 1.2em;
    }
    nav a {
        display:unset;
        text-decoration:none;
    }
    .menu-btn {display:none;}
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {opacity:0;}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

.hide {
    display:none;
}